.App {
  text-align: center;
}

form {
  width: 500px;
  height: 320px;
  margin: 0 auto;
  background-color: #ccc;
  padding-top: 0.1em;
  box-sizing: border-box;
  margin-top: 3em;
}

form input {
  padding: 1em;
  box-sizing: border-box;
}

label {
  float: left;
  padding-bottom: 0.5em;
}

form div {
  width: 90%;
  margin: 0 auto 30px auto;
}

#name, #link {
  width: 100%;
}

.linkCard a {
  padding-left: 12px;
  float: left;
}

.linkCard button {
  float: right;
  margin-left: 11px;
}

.linkCardWrapper {
  border-top: 1px solid;
}

.controlButtons {
  float: right;
}
